
.logo {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        font-family: 'Commisioner', sans-serif;
}


.result-wrapper {
        text-align: center;
        max-height: 3vh;
        font-family: 'Commisioner', sans-serif;
}

.form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
}


.form {
        padding: 10px;
        text-align: center;
}

.input-wrapper {
        margin: 10px;
}

.input-wrapper input {
        outline: none;
        width: 15vw;
        height: 3vh;
        border: 1px solid #9555ff;
        border-radius: 4px;
        padding: 4px;
}

.input-wrapper input:focus {
        border-bottom: 1px solid #9555ff;
}

.input-wrapper input::webkit-input-placeholder {
        font-family: 'Commisioner', sans-serif;
}

.btn-wrapper {
        display: flex;
        justify-content: center;
}

.btn {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        margin: 2px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 0.5em 1em;
        color: #fff;
        background-color: #9555ff;
        outline: none;
        font-family: 'Commisioner', sans-serif;
}

/*
.input-wrapper input:focus::-webkit-input-placeholder {
        color: transparent;
}
*/


