
body {
		  padding: 0;
		  margin: 0;
		  box-sizing: border-box;
}

input {
		  outline: none;
}

.container {
		  display: flex;
		  height: 100vh;
}

.menu {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  padding: 10px;
}

.menu__wrapper {
		  text-align: center;
}

.menu__item {
		  width: 300px;
		  min-height: 30px;
}

.menu__item a {
		  color: #fff;
		  font-size: 20px;
		  text-decoration: none;
}


.content {
		  display: flex;
		  align-items: center;
		  padding: 10px;
}

