<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="auth-block">
        <div>
            <input id="login-field" type="text" placeholder="Логин">
        </div>
        <div>
            <input id="password-field" type="text" placeholder="Пароль">
        </div>
        <div>
            <select name="" id="hobby-field">
                <option value="1">Спорт</option>
                <option value="2">Музыка</option>
                <option value="3">Путешествия</option>
                <option value="4">Книги</option>
                <option value="5">Программирование</option>
            </select>
        </div>
        <div>
            <input id="age-field" type="number" placeholder="Возраст">
        </div>

        <div>
            <button id="auth-btn">Войти</button>
        </div>
        <div>
            <p id="validation"></p>
        </div>
    </div>

</body>
<script>
    const authBtn = document.getElementById("auth-btn");

    authBtn.addEventListener("click", async (event) => {
        const login = document.getElementById("login-field").value;
        const password = document.getElementById("password-field").value;
        const hobby = document.getElementById("hobby-field").value;
        const age = document.getElementById("age-field").value;

        // отправляем запрос на авторизацию
        fetch("http://localhost:3000/api/users/auth", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ login, password, hobby, age })
        })
        .then(res => {
            if (res.ok) {
                location.href = "/home";
            }
        })
        .catch(e => {
            console.log(e);
            const validationBlock = document.getElementById("validation");

            validationBlock.innerText = "Извините, что-то пошло не так :(\nПопробуйте позже";
        })

    });
</script>
</html>